body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.poster {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('assets/crowd-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.poster label {
    color: rgba(104, 241, 157, 0.774);
    font-size: 10vw;
    font-weight: bold;
}

.hidden {
    opacity: 0;
}

h1 {
    text-align: center;
}

.waiting {
    color: #000;
}

app-notification .notification {
    text-align: center; 
}

        
app-notification .notification p {
    margin: 0;
    color: #000;
}

#voteModal .preview {
    height: auto;
    max-height: 100%;
    width: 100%;
}

.invisible {
    width: 0px;
    height: 0px;
    z-index: -1000;
    opacity: 0;
}

.action-bar {
    width: 100vw;
    position: absolute;
    z-index: 1000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    bottom: 10px;
    height: 40px;
    align-items: center;
}

.action-bar a {
    color: #fff;
}

.action-left {
    margin-left: 10px;
    display: flex;
    align-items: flex-start;
}

.action-right {
    margin-right: 10px;
    display: flex;
    align-items: center
}

.action-right > * {
    margin-right: 20px;
}

.action-right > *:last-child {
    margin-right: 0px;
}

.action-bar img {
    width: 20px;
    height: 20px;
}

.action-bar img.img-bugs {
    width: auto;
}
